<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="deck.create" class="create">New Deck</a></li>
    </ul>
</div>
<div id="list-deck" class="content scaffold-list" role="main">
    <h1>Deck List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Cards</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="deck in vm.deckList">
      <td>
        <a ui-sref="deck.show({id: deck.id})">{{deck.id}}</a>
      </td>
      <td>
        <ul>
          <li ng-repeat="card in deck.cards">
            <a ui-sref="card.show({id: card.id})">{{card.toString()}}</a>
          </li>
        </ul>
      </td>
      <td>
        <span>{{deck.name}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>